<% if post_comment.errors.any? %>
  <div style="color: red;">
    <ul>
      <% post_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [post, post_comment], local: true do |f| %>
  <%= f.text_area :comment, rows: 5, placeholder: "応援コメントをしよう！" %>
  <%= f.submit "送信" %>
<% end %>
