@use '~bootstrap/scss/bootstrap';

.navbar-nav .nav-link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-brand {
  font-weight: bold;
}

@media (max-width: 767px) {
  .navbar-collapse {
    margin-top: 10px;
  }
}