<h2><%= @user.name %> のフォロー</h2>

<% unless current_user&.guest_user? %>
  <% @users.each do |u| %>
    <div>
      <%= link_to u.name, user_path(u) %>
    </div>
  <% end %>
<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
<p>
  <%= link_to "← マイページに戻る", user_path(@user) %>
</p>
