

<% if current_user&.guest_user? %>
  <p>ゲストユーザーは閲覧できません</p>
<% else %>

  <%= render "follow_list",
    title: "#{@user.name}のフォロー",
    users: @users,
    empty_message: "フォローしているユーザーはいません",
    user: @user %>
<% end %>
