<h2><%= @user.name %>のフォロワー</h2>

<% unless current_user&.guest_user? %>
  <p>ゲストユーザーはフォロワー一覧を表示できません</p>
<% else %>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <div>
        <%= link_to user.name, user_path(user) %>
      </div>
    <% end %>
  <% else %>
    <p>フォロワーはいません</p>
  <% end %>
<% end %>

<%= link_to "← マイページに戻る", user_path(@user) %>
